@import '../base/colors';

footer {
    height: 100%;
    width: 100%;
    background-color: $bg-general;

    .footer_social {
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            margin-top: -30px;
            padding-left: 0;

            li {
                list-style-type: none;

                a {
                    display: flex;
                    justify-content: center;

                    img {
                        object-fit: cover;
                        width: 60px;
                    }
                }

            }
        }
    }

    .footer_container {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px 10px 0px;
 

        .footer_contact {
            width: 20%;

            @media (max-width: 750px) {

                height: auto;
                display: flex;
            }   

            ul {
               
                li {
                    display: flex;
                    list-style-type: none;

                    a {
                        img {
                            object-fit: cover;
                            width: 20px;
                        }
                    }

                    p {
                        margin-left: 10px; 
                    }
                }
            }
        }

        .footer_logo {
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 750px) {
                display: none;
            }

            img {
                width: 10%;
                height: auto;
            }
        }

        .footer_legales {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            width: 20%;

            @media (max-width: 750px) {

                height: auto;
                display: flex;
                width: max-content;
                justify-content: center;
            } 


            p {
                margin-right: 10px; 
            }
        }
    }

}