@import '../base/colors';

main {

    #home {
        width: 100%;
        height: 700px;


        .home_title {
            margin: 0px 0px 0px 20px;
            box-sizing: border-box;
            line-height: 30px;
            font-size: large;
            color: #000;
            animation: cssAnimation_0 3000ms 1 ease;
            text-shadow: 0px 0px 8px rgb(255, 255, 255);

            h1 {
                /*No agregar*/
            }

            p {}
        }

        .image_cover {

            background-image: url(https://raw.githubusercontent.com/skydxncer/ProyectoCoderhouse/master/images/home_cover.webp);
            min-height: 500px;
            background-attachment: fixed;
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;

            img {
                width: 100%;
            }
        }

        @keyframes cssAnimation_0 {
            from {
                transform: translate(200px);
            }

            to {
                transform: translate(0px);
            }
        }
    }

    #tratamientos {
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: -100px;

        @media (max-width: 1162px) {

            height: auto;
            display: flex;
            flex-direction: column;
        }

        @media (max-width: 599px) {
            margin-top: 2%;
        }

        .flip_card {
            background-color: transparent;
            width: 404px;
            height: 304px;
            perspective: 1000px;
            display: inline-block;
            align-items: center;

            @media (max-width: 1162px) {
                margin-top: 10%;
            }


            .card {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.8s;
                transform-style: preserve-3d;

                &:hover {
                    transform: rotateY(180deg);
                }

                .front {
                    position: absolute;
                    width: 100%;
                    backface-visibility: hidden;
                    color: black;
                    height: 100%;

                    img {
                        width: 400px;
                        height: 300px;
                        border: 2px solid;
                        border-color: $bg-general;
                        border-radius: 10px;
                    }

                    h2 {
                        position: absolute;
                        bottom: 100%;
                        color: black;
                    }
                }

                .back {
                    position: absolute;
                    width: 100%;
                    height: 300px;
                    backface-visibility: hidden;
                    background-color: $bg-general;
                    color: #000000;
                    transform: rotateY(180deg);
                    border: 2px solid;
                    border-color: #e7e6e9;
                    display: flex;
                    align-items: center;
                    border-radius: 10px;

                    ul {
                        width: 100%;
                        padding: 0px;
                        list-style-type: none;
                        display: flex;
                        flex-direction: column;

                        li {
                            list-style-type: none;
                            margin: 2px;
                            text-align: center;
                            font-size: large;
                            font-weight: bold;
                            background-color: rgb(231, 230, 233, 0.5);
                        }
                    }
                }
            }
        }
    }

    #turnos {
        width: 100%;
        height: auto;
        padding: 50px 0px 50px 0px;

        div {
            display: flex;
            text-align: center;
            flex-direction: column;
            background-color: $bg-general;

            h2,
            h3 {
                margin: 70px auto;
            }

            a {
                margin: 70px auto;
                color: #000;
                background-color: #03c100a9;
                border-radius: 50px;
                text-decoration: none;
                padding: 5px 20px 5px 20px;
                font-weight: bold;
                border: 1px solid black;

                &:hover {
                    border: 2px solid black;
                    background-color: darken(#03c100a9, 5%);
                    color: black;
                    transform: scale(1.1);

                }
            }
        }
    }

    #ubicacion {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        padding: 60px 0px 60px 0px;

        .ubicacion_mapa {
            width: 48%;
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            border: 2px solid $bg-general;

            iframe {
                width: 100%;
                height: 300px;
            }
        }

        .ubicacion_contacto {
            /*Agregado de media query*/
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;

            h2 {
                /*Agregar estilo */
            }

            input,
            textarea {
                width: 100%;
                height: 50px;
                margin: 0px 0px 30px 0px;
                padding: 5px;
            }

            textarea {
                height: 100px;
            }

            button {
                background-color: $bg-general;
                color: #000;
                border-radius: 50px;
                text-decoration: none;
                padding: 5px 20px 5px 20px;
                font-weight: bold;
                border: 1px solid black;

                &:hover {
                    background-color: $bg-hover;
                    color: black;
                    transform: scale(1.1);
                }
            }
        }

    }

    #tienda {
        width: 100%;
        height: auto;
        margin-top: 100px;


        /*MOBILE
        @media (max-width:     ) {
            
        }

        */


        .text {
            display: flex;
            justify-content: center;
        }

        .container_tienda {
            display: flex;
            margin: 50px;

            @media (max-width: 650px) {

                height: auto;
                display: flex;
                flex-direction: column;
            }


            .dropdown_menu {

                @media (max-width: 650px) {

                    height: auto;
                    display: flex;
                    flex-direction: column; 
                }


                button {
                    background-color: $bg-general;
                    border: 1px solid $bg-general;
                }

                ul {}
            }


            .productos {

                display: flex;
                justify-content: space-evenly;
                box-sizing: border-box;

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    align-items: center;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    width: 90%;

                    @media (max-width: 599px) {
                        display: flex;
                        flex-direction: column;
                        
                    }

                    li {
                        display: flex;
                        justify-content: center;
                        padding-bottom: 10px;
                        width: 30%;

                        @media (min-width: 40rem) {
                            li {
                                width: 50%;
                            }
                        }

                        @media (min-width: 56rem) {
                            .cards_item {
                                width: 33.3333%;
                            }
                        }

                        .card {
                            background-color: white;
                            border-radius: 0.25rem;
                            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
                            display: flex;
                            flex-direction: column;
                            overflow: hidden;
                            width: 100%;

                            .card_image {
                                img {
                                    height: auto;
                                    max-width: 100%;
                                    vertical-align: middle;
                                }
                            }

                            .card_content {
                                padding: 1rem;
                                background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);

                                h2 {
                                    color: #ffffff;
                                    font-size: 1.1rem;
                                    font-weight: 700;
                                    letter-spacing: 1px;
                                    text-transform: capitalize;
                                    margin: 0px;
                                }

                                p {
                                    color: #ffffff;
                                    font-size: 0.875rem;
                                    line-height: 1.5;
                                    margin-bottom: 1.25rem;
                                    font-weight: 400;
                                }

                                button {
                                    color: #ffffff;
                                    padding: 0.8rem;
                                    font-size: 14px;
                                    text-transform: uppercase;
                                    border-radius: 4px;
                                    font-weight: 400;
                                    display: block;
                                    width: 100%;
                                    cursor: pointer;
                                    border: 1px solid rgba(255, 255, 255, 0.2);
                                    background: transparent;

                                    &:hover {
                                        background-color: rgba(255, 255, 255, 0.12);
                                    }
                                }
                            }
                        }
                    }
                }

            }

        }
    }

}